.fa-hand-rock,
.fa-hand-paper,
.fa-hand-scissors{
font-size:5rem;
cursor:pointer;
}

.clickable-icon i{
padding:20px;
border-radius:10px;
transition:0.2s;
}

.clickable-icon:hover i{
background:#f0f0f0;
transform:scale(1.1);
}

.boards,
.select{
display:none;
}

#playerSide,
#computerSide{
height:200px;
}

footer{
position:fixed;
bottom:0;
width:100%;
background:#000;
color:white;
text-align:center;
}

.bold{
font-weight:bold;
font-size:2rem;
}